{% extends "../main/main_base.html" %} {% block main %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-8 mb-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                            <div class="carousel-item active">
                                    <a href="http://iw2020.xrenlab.com" target="_blank">
                                       <img class="d-block w-100 home-slide-img" src="{{ static_url('images/iw2020.png') }}">
                                   </a>
                                   <div class="carousel-caption d-none d-md-block">
                                       <!-- <h2>International Workshop on Human-Engaged Computing 2019</h2>
                                       <p>The Center for Human-Engaged Computing (CHEC) has organized an international workshop on Human-Engaged Computing (IWHEC 2019). The workshop will be held at Kochi University of Technology in Japan on January 12th, 2019.</p> -->
                                   </div>
                               </div>
                        <div class="carousel-item">
                             <a href="http://iw2019.xrenlab.com">
                                <img class="d-block w-100 home-slide-img" src="https://farm5.staticflickr.com/4838/45082331325_800e01a03e_o.png">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <!-- <h2>International Workshop on Human-Engaged Computing 2019</h2>
                                <p>The Center for Human-Engaged Computing (CHEC) has organized an international workshop on Human-Engaged Computing (IWHEC 2019). The workshop will be held at Kochi University of Technology in Japan on January 12th, 2019.</p> -->
                            </div>
                        </div>
                        <!-- <div class="carousel-item">
                                <a href="/news/[2018.04.15]<Events>CHEC%202018%20LONG%20DISTANCE%20WALKING">
                                <img class="d-block w-100 home-slide-img" src="https://farm1.staticflickr.com/792/27623541328_ff26c5585b_c.jpg">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <h2>Long Distance Walking</h2>
                                <p>We held a long distance walking to the Konan seaside on April 15th. The whole trip was over
                                    23 kilometers and took around 8 hours. 16 members joined in this activity.​</p>
                            </div>
                        </div> -->
                        <div class="carousel-item">
                                <a href="/news/[2017.11.11]<News,%20Talks,%20Visitors>International%20Workshop%20on%20Human-Engaged%20Computing">
                                <img class="d-block w-100 home-slide-img" src="https://farm5.staticflickr.com/4582/38350297912_7d063027d1_c.jpg">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <h2>HEC Workshop</h2>
                                <p>International Workshop on Human-Engaged Computing.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                                <a href="/news/[2017.06.04]<News>CHEC%20at%20CHI%202017">
                                <img class="d-block w-100 home-slide-img" src="https://farm5.staticflickr.com/4197/34835049975_68f84b17c2_c.jpg">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                           <h2>CHI 2017</h2>
                                <p>CHEC members had totally 7 papers including 2 Full Papers (1 awarded as best paper), 2 Notes, 1 Workshop, 1 Late-Breaking Work and 1 Panel.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                             <a href="/news/[2015.05.08]<News>CHI%202015,%20April%20(18%20-%2023)%202015">
                                <img class="d-block w-100 home-slide-img" src="https://farm9.staticflickr.com/8684/17657047671_77105a60b3_c.jpg">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                               </a><h2>CHI 2015</h2>
                                <p>CHEC members: Prof. Xiangshi Ren, Chaky, Sayan, Dim and Handy attended CHI 2015 conference
                                    at Seoul, Korea.</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <a href="/projects">
                    <div class="home-cover">
                        <i>
                            <h2 class="home-cover-title">{{ _("Projects") }}</h2>
                        </i>
                        <img src="{{ static_url('images/projects.png') }}" class="home-cover-picture">
                    </div>
                </a>
            </div>
        </div>

        <div class="w-100"></div>
        <div class="row mb-4">
            <div class="col-3">
                <div class="home-cover">
                    <i>
                        <h2 class="home-cover-title">{{ _("About Prof. Xiangshi Ren") }}</h2>
                    </i>
                    <a href="http://xiangshiren.com">
                        <img src="{{ static_url('images/prof-cover.png') }}" class="home-cover-picture">
                    </a>
                </div>
            </div>
            <div class="col-3">
                <a href="/facilities">
                    <div class="home-cover">
                        <i>
                            <h2 class="home-cover-title">{{ _("Facilities") }}</h2>
                            <img src="{{ static_url('images/facilities.png') }}" class="home-cover-picture">
                        </i>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <div style="padding:56.25% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/331750719?color=ff0179&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;"
                        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
        </div>
        <div class="row mb-4">
                <div class="col-12">
                        <a href="/intro">
                            <div class="home-cover">
                                <i>
                                    <h2 class="home-cover-title">{{ _("Center for Human-Engaged Computing") }}</h2>
                                    <img src="{{ static_url('images/checbanner.png') }}" class="home-cover-picture">
                                </i>
                            </div>
                        </a>
                </div>
                </div>
      <div class="row mb-4">
                <div class="col-12">
                        <a href="{{ static_url('documents/CSC-KUT-CHEC.pdf') }}">
                            <div class="home-cover">
                                <i>
                                    <h2 class="home-cover-title">{{ _("CSC-KUT Scholarship Program") }}</h2>
                                    <img src="{{ static_url('images/webpages/cscschoolarship.jpg') }}" class="home-cover-picture">
                                </i>
                            </div>
                        </a>
                </div>
                </div>
    </div>
</main>
{% end %}
