{% extends "../main/main_base.html" %} {% block main %}
<main>
    <div class="container">
        <div class="col-xl-12">
                    <h2>Members
                        <span class="badge badge-pill badge-warning">alpha</span>
                    </h2>
                    <hr>
                    <h4>
                        <span class="badge badge-light">Professors</span>
                    </h4>
                    <div class="row">
                    
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/field/image/professor2.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Xiangshi Ren</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Director</h6>
                                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                                    <a href="http://www.xiangshiren.com" class="card-link">Homepage</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/field/image/nakahara-kiyoshi-1_2.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Kiyoshi Nakahara</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Professor</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/field/image/AS-272232345763857%401441916657488_l.png_0.jpg"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Kaechang Park</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Professor</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4>
                        <span class="badge badge-light">Associate Professors</span>
                    </h4>
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/field/image/hoshino-yukinobu-1_0.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Yukinobu Hoshino</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Associate Professors</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/field/image/Face-UedaKazunori_0.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Kazunori Ueda</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Associate Professors</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/field/image/large_Toru%2520Kurihara_0.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Toru Kurihara</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Associate Professors</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4>
                        <span class="badge badge-light">Visiting Professors</span>
                    </h4>
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/field/image/chacky.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Silpasuwanchai Chaklam</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Visiting Professor</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/field/image/kibum_kim-1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Kibum Kim</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Visiting Professor</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4>
                        <span class="badge badge-light">Assistant Professors</span>
                    </h4>
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/field/image/jason.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Zhenxin Wang</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Assistant Professor</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/field/image/sayan.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Sayan Sarcar</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Assistant Professor</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/field/image/william.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">William Delamare</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Assistant Professor</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/field/image/mitani_photo_0.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Keita Mitani</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Assistant Professor</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4>
                        <span class="badge badge-light">Ph.D. Students</span>
                    </h4>
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/Kavous%202200%201900.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Kavous Salehzadeh Niksirat</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Ph.D. Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/Jiang%20Xinhui.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Xinhui Jiang</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Ph.D. Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/liyang.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Yang Li</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Ph.D. Student</h6>
                                </div>
                            </div>
                        </div>


                    </div>
                    <br>
                    <h4>
                        <span class="badge badge-light">Master Students</span>
                    </h4>
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/JL0156-1510130001.png" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Chen Wang</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Master Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/hanzengyi.JPG" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Zengyi Han</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Master Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/FullSizeRender_0.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Jingxin Liu</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Master Student</h6>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/OnoAyumu_recompress_0.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Ayumu Ono</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Bachelor Student</h6>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/wangheyu.JPG" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Heyu Wang</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Master Student</h6>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/wangshuang.JPG" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Shuang Wang</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Master Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/yangluxi.JPG" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Luxi Yang</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Master Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/huxinyue.JPG" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Xinyue Hu</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Master Student</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/wumengyao.JPG" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Mengyao Wu</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Master Student</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4>
                        <span class="badge badge-light">Bachelor Students</span>
                    </h4>
                    <!--<div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/OnoAyumu_recompress_0.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Ayumu Ono</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Bachelor Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/SanadaHiromu_recompress.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Hiromu Sanada</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Bachelor Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/TanigawaTomoya_recompress.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Tomoya Tanigawa</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Bachelor Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/KatsutaAkihiro_recompress_1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Akihiro Katsuta</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Bachelor Student</h6>
                                </div>
                            </div>
                        </div>
                        </div>-->
                        <br>
                        <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/zhengyilin.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Yilin Zheng</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Bachelor Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/yumiko.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Yumiko Kakuta</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Bachelor Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/Imada Haruna.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Haruna Imada</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Bachelor Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/Yoshida Kentarou.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Kentarou Yoshida</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Bachelor Student</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/Iwamoto Arihiro.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Arihiro Iwamoto</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Bachelor Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/Harada Daichi.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Daichi Harada</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Bachelor Student</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="http://xrenlab.com/sites/default/files/filefield_paths/Mizuno Ryutarou.jpeg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Ryutarou Mizuno</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Bachelor Student</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</main>
{% end %}