{% extends "../main/main_base.html" %} {% block main %}
<main>
    <div class="container">
        <div class="col-xl-12">
            <h2>{{ _("Members") }}</h2>
            <hr> {% import os %} {% for k, v in memberList.items() %}
            <h4>
                <span class="badge badge-light">{{ _(k) }}</span>
            </h4>
            <div class="row">
                {% for member in v %} {% if member in os.listdir(MemberURL) %}
                <div class="col-3">
                    <div class="card">
                        <img class="card-img-top" src="{{ static_url('members/'+member+'/avatar.png') }}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">{{ member }}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{ k }}</h6>
                            {% if member in customLinkDict.keys() %}
                                 <a href="{{ customLinkDict[member] }}">Link</a>
                            {% end %}
                            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                            <!--<a href="http://www.xiangshiren.com" class="card-link">Homepage</a>-->
                        </div>
                    </div>
                </div>
                {% end %} {% end %}
            </div>
            <br>
            {% end %}
        </div>
    </div>
</main>
{% end %}