{% extends "../main/main_base.html" %} {% block main %} {% import uuid %}
<main>
    <div class="container">
        <div class="col-xl-12">
            <ul class="nav nav-tabs" id="membersTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="currentmember-tab" data-toggle="tab" href="#currentmember" role="tab" aria-controls="currentmember" aria-selected="true">{{ _("Members") }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="alumni-tab" data-toggle="tab" href="#alumni" role="tab" aria-controls="alumni" aria-selected="false">{{ _("Alumni") }}</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="currentmember" role="tabpanel" aria-labelledby="currentmember-tab">
                    <h2 class="mt-4">{{ _("Members") }}</h2>
                    <hr> {% import os %} {% for k, v in memberList.items() %}
                    <h4>
                        <span class="badge badge-light">{{ _(k) }}</span>
                    </h4>
                    <hr>
                    <div class="row">
                        {% for i, j in v.items() %}
                        <div class="col-6 mb-3">
                            <div class="card h-100">
                                <div class="row no-gutters h-100 align-items-center">
                                    <div class="col-3">
                                        <img src="{{ allAvatarURL['members/'+i+'/avatar.png'] }}" class="img-fluid w-100" alt="Card image cap">
                                    </div>
                                    <div class="col">
                                        <div class="card-block px-2 mt-1 ml-1 mr-1">
                                            {% if "link" in j %}<a href="{{ j['link'] }}">{% end %}<h5 class="card-title mb-1">{{ i }}</h5>{% if "link" in j %}</a>{% end %}
                                            {% if "years" in j %}<small class="card-subtitle text-muted">{{ j["years"] }}</small><br>{% end %}
                                            {% if "job" in j %}<small class="card-subtitle text-muted">{{ j["job"] }}</small>{% end %} 
                                            {% if "affiliation" in j %}<small class="card-subtitle text-muted">{{ j["affiliation"] }}</small>{% end %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% end %}
                    </div>
                    <br>
                    {% end %}
              </div>
              <div class="tab-pane fade" id="alumni" role="tabpanel" aria-labelledby="alumni-tab">
                  <h2 class="mt-4">{{ _("Alumni") }}</h2>
                  <hr>
                  {% for k, v in alumniList.items() %}
                  <h4>
                    <span class="badge badge-light">{{ _(k) }}</span>
                </h4>
                    <hr>
                  <div class="row">
                    <!--  for k, v in alumniList.items() 
                    <div class="col-6 mb-3">
                        <div class="card h-100">
                            <div class="row no-gutters h-100">
                                {% if 'members/'+k+'/avatar.png' in allAvatarURL %}
                                <div class="col-3">
                                    <img src="{{ allAvatarURL['members/'+k+'/avatar.png']}}" class="img-fluid w-100" alt="Card image cap">
                                </div>
                                {% end %}
                                <div class="col">
                                    <div class="card-block px-2 mt-3 ml-1 mr-1">
                                        <h5 class="card-title">{{k}}</h5>
                                        <small class="card-subtitle text-muted">{{ v }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> end -->
                    
                    {% for i, j in v.items() %}

                    <div class="col-6 mb-3">
                        <div class="card h-100">
                            <div class="row no-gutters h-100">
                                {% if j["avatar"] == 1 %}
                                <div class="col-3">
                                    <img src="{{ static_url('images/alumni-avatar/' + i + '.png') }}" class="img-fluid w-100" alt="Card image cap">
                                </div>
                                {% elif j["avatar"] == 0 %}
                                <div class="col-3">
                                    <img src="{{ static_url('images/alumni-avatar/' + i + '.png') }}" class="img-fluid w-100" alt="Card image cap">
                                </div>
                                {% else %}
                                <div class="">
                                    
                                </div>
                                {% end %}
                                <div class="col">
                                    <div class="card-block px-2 mt-1 ml-1 mr-1">
                                        {% if "link" in j %}<a href="{{ j['link'] }}">{% end %}<h5 class="card-title mb-1">{{ i }}</h5>{% if "link" in j %}</a>{% end %}
                                        {% if j["years"] != '' %}<small class="card-subtitle text-muted">{{ j["years"] }}</small><br>{% end %}
                                        {% if j["job"] != '' %}<small class="card-subtitle text-muted">{{ j["job"] }}, </small>{% end %} 
                                        {% if j["affiliation"] != '' %}<small class="card-subtitle text-muted">{{ j["affiliation"] }}</small>{% end %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% end %}
                  </div>
                  {% end %}
              </div>
            </div>
        </div>
    </div>
</main>
{% end %}