{% extends "../main/main_base.html" %} {% block main %}
{% import time %}
<style>
.carousel-control-prev{
    left: -10%;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230062cc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230062cc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-indicators{
    bottom: -10%;
}
.carousel-indicators li{
    background-color: #BDBDBD;
}
.carousel-indicators li.active{
    background-color: #0062cc;
}
</style>
<main>
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
        <div class="col-xl-2 order-xl-1 order-sm-2">
            <h3>{{ _("Blog List") }}</h3>
            <hr>
            <div class="member-mini-list">
            {% import os %} {% for k, v in memberList2.items() %}
            <h4>
                <span class="badge badge-light">{{ _(k) }}</span>
            </h4>
            {% for member in v %}
            <div class="member-mini-list-element">
            <img src="{{ allAvatarURL['members/'+member+'/avatar.png'] }}" alt="" class="rounded-circle member-mini-list-element-img mr-2">
                <a href="/blog/{{ member }}">{{ member }}</a>
            </div>
            {% end %}
            {% end %}
            </div>
        </div>
        <div class="col-xl-7 order-xl-2 order-sm-1">
            <div class="jumbotron">
                {% raw agenda %}
            </div>
            <!--The slide of blogs-->
            <div id="carousel-blog" class="carousel slide ml-5" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">

                    {% for i in range(len(memberList)) %}
                        {% if i==0 %}
                            <li data-target="#carousel-blog" data-slide-to="{{i}}" class="active"></li>
                        {% else %}
                            <li data-target="#carousel-blog" data-slide-to="{{i}}"></li>
                        {% end %}
                    {% end %}
                </ol>
                <div class="carousel-inner member-mini-list" style="height:700px;width:750px;overflow:auto;">
                    {% for i, memberval in enumerate(memberList) %}
                        {% if i==0 %}
                            <div class="carousel-item active ml-5" style="min-height:305px;width:610px;">
                        {% else %}
                            <div class="carousel-item ml-5" style="min-height:305px;width:610px;">
                        {% end %}
                        <div class="member-mini-list-element">
                                    <img src="{{ allAvatarURL['members/'+memberval[0]+'/avatar.png'] }}" class="rounded-circle member-mini-list-element-img mr-2" alt="avatar of {{memberval[0]}}">
                                    <span>{{ memberval[0] }}</span>
                                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                    <span>{{blogList[memberval[0]].rstrip(".md")}}</span>
                            </div>
                            <hr>
                            <p>{% raw blogContent[memberval[0]] %}</p>
                        </div>
                    {% end %}
                    <!-- <div class="carousel-item" style="min-height:305px;width:610px;">
                            <div class="member-mini-list-element">
                                    <img data-src="{{ allAvatarURL['members/'+member+'/avatar.png'] }}" class="rounded-circle member-mini-list-element-img mr-2" alt="Generic responsive image">
                                    <span>{{ member }}</span>
                                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                    <span>Blog Title</span>
                            </div>
                            <hr>
                            <p>Blog Content</p>
                    </div> -->

                </div>
                <a class="carousel-control-prev" href="#carousel-blog" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-blog" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 order-3">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ _("CHEC Internal Dashboard") }}</h5>
                    <a class="btn btn-primary btn-sm" href="https://docs.google.com/spreadsheets/d/1xjh8ILzUtVzD3tcQESAIjLPgt4w8ZnjfLxHM2ltWqao/edit?usp=sharing" role="button">Go to Cpanel</a>
                    <a class="btn btn-primary btn-sm" href="https://drive.google.com/drive/folders/1QeAqWLD3J-DD15_YA42YWgH6gapyvoyo?usp=sharing" role="button">Seminar PPT</a>
                    <a class="btn btn-primary btn-sm" href="https://drive.google.com/open?id=1HTur8aVl0FQi6wdToq1MFP8kOdmbQ4XGxJp_3QJvzRI" role="button">Meeting Minutes</a>
                    <a class="btn btn-primary btn-sm" href="https://docs.google.com/spreadsheets/d/1zgzwyPSsCPeQvLmwhWhyRH3sD9yMNdQu0dus-tnESog/edit#gid=2034520609" role="button">Library Management</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                <h5 class="lead">{{ _("81st CHEC / Ren Lab Workshop Info") }}</h5>
                <a class="btn btn-primary btn-sm" href="https://docs.google.com/spreadsheets/d/1xjh8ILzUtVzD3tcQESAIjLPgt4w8ZnjfLxHM2ltWqao/edit#gid=119887633" role="button">Program</a>
                <a class="btn btn-primary btn-sm" href="https://drive.google.com/drive/folders/1DFHm9lskkFPZCZr5oLayTd5imb7a1zBM?usp=sharing" role="button">Proceedings</a>
                <a class="btn btn-primary btn-sm" href="https://drive.google.com/drive/folders/1e3ubesnEk-xZHejBj7nHXXKFnF7uwMRE?usp=sharing" role="button">PPT</a>
                </div>
            </div>
            {% raw content %}
        </div>
        </div>
    </div>
</main>
{% end %}
{% block customJS %}
<script>
document
$(".carousel-inner div:first").addClass("active");
</script>
{% end %}
