{% extends "../main/main_base.html" %} {% block main %}
{% import time %}
<main>
    <div class="container">
        <div class="row">
        <div class="col-xl-12">
            <div class="jumbotron">
                    <h1 class="display-4">{{ _("CHEC Internal Dashboard") }}</h1>
                    <a class="btn btn-primary btn-sm" href="https://docs.google.com/spreadsheets/d/1xjh8ILzUtVzD3tcQESAIjLPgt4w8ZnjfLxHM2ltWqao/edit?usp=sharing" role="button">Go to Cpanel</a>
                    <a class="btn btn-primary btn-sm" href="https://drive.google.com/drive/folders/1QeAqWLD3J-DD15_YA42YWgH6gapyvoyo?usp=sharing" role="button">Seminar PPT</a>
                    <hr class="my-4">
                    <p class="lead">{{ _("Bulletin") }}</p>
                    <ul>
                        <li><strong>Maintenance Schedule: </strong>Every Wednesday 20:00 ~ 24:00, please take care your writing around this time.</li>  
                        <li><strong>Next Week Features: </strong>Blog pagination; Change password; Customed bulletin;</li>  
                </ul>
            </div>
        </div>
        <div class="col-xl-4">
            <h3>{{ _("Blog List") }}</h3>
            <hr>
            <div class="member-mini-list">
            {% for member in memberList %}
            <div class="member-mini-list-element"> 
            <img src="{{ static_url('members/'+ member + '/avatar.png') }}" alt="" class="rounded-circle member-mini-list-element-img">
                <a href="/blog/{{ member }}">{{ member }}</a>
            </div>   
            {% end %}
            </div>

        </div>
        <div class="col-xl-8">
            {% raw content %}
        </div>
        </div>
    </div>
</main>
{% end %}