{% extends "../main/main_base.html" %} {% block main %}
{% import time %}
<main>
    <div class="container-fluid">
        <div class="row ml-5 mr-5">
        <div class="col-xl-2 order-xl-1 order-sm-2">
            <h3>{{ _("Blog List") }}</h3>
            <hr>
            <div class="member-mini-list">
            {% for member in memberList %}
            <div class="member-mini-list-element"> 
            <img src="{{ allAvatarURL['members-180615/'+member+'/avatar.png'] }}" alt="" class="rounded-circle member-mini-list-element-img mr-2">
                <a href="/blog/{{ member }}">{{ member }}</a>
            </div>   
            {% end %}
            </div>
        </div>
        <div class="col-xl-7 order-xl-2 order-sm-1">
            <div class="jumbotron">
                    <h1 class="display-4">{{ _("CHEC Internal Dashboard") }}</h1>
                    <a class="btn btn-primary btn-sm" href="https://docs.google.com/spreadsheets/d/1xjh8ILzUtVzD3tcQESAIjLPgt4w8ZnjfLxHM2ltWqao/edit?usp=sharing" role="button">Go to Cpanel</a>
                    <a class="btn btn-primary btn-sm" href="https://drive.google.com/drive/folders/1QeAqWLD3J-DD15_YA42YWgH6gapyvoyo?usp=sharing" role="button">Seminar PPT</a>
                    <!-- <a class="btn btn-primary btn-sm" href="https://drive.google.com/open?id=1HTur8aVl0FQi6wdToq1MFP8kOdmbQ4XGxJp_3QJvzRI" role="button">Meeting Minutes</a> -->
                    <hr class="my-4">
                   <p class="lead">{{ _("25th CHEC / 73rd Ren Lab Workshop Info") }}</p>
                    <a class="btn btn-primary btn-sm" href="https://docs.google.com/spreadsheets/d/1xjh8ILzUtVzD3tcQESAIjLPgt4w8ZnjfLxHM2ltWqao/edit#gid=1328587438" role="button">Program</a>
                    <a class="btn btn-primary btn-sm" href="https://drive.google.com/drive/folders/1DFHm9lskkFPZCZr5oLayTd5imb7a1zBM?usp=sharing" role="button">Proceedings</a>
                    <a class="btn btn-primary btn-sm" href="https://drive.google.com/drive/folders/1e3ubesnEk-xZHejBj7nHXXKFnF7uwMRE?usp=sharing" role="button">PPT</a>
                    <ul>
                       <!-- <li><strong>Maintenance Schedule: </strong>Every Sunday 20:00 ~ 24:00, please take care your writing around this time.</li>-->  
                        <!--<li><strong>Next Week Features: </strong>Blog pagination; Change password; Customed bulletin;</li>  -->
                    </ul>
                    {% raw agenda %}
            </div>
        </div>
        <!-- <div class="col-xl-4">
            <h3>{{ _("Blog List") }}</h3>
            <hr>
            <div class="member-mini-list">
            {% for member in memberList %}
            <div class="member-mini-list-element"> 
            <img src="{{ allAvatarURL['members-180615/'+member+'/avatar.png'] }}" alt="" class="rounded-circle member-mini-list-element-img mr-2">
                <a href="/blog/{{ member }}">{{ member }}</a>
            </div>   
            {% end %}
            </div>
        </div> -->
        <div class="col-xl-3 order-3">
                <!--The slide of blogs-->
                <!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner member-mini-list">

                            <div class="carousel-item active" style="min-height:305px;width:610px;">
                                    <div class="member-mini-list-element"> 
                                            <img data-src="{{ allAvatarURL['members-180615/'+member+'/avatar.png'] }}" class="rounded-circle member-mini-list-element-img mr-2" alt="Generic responsive image">
                                            <span>{{ member }}</span>
                                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                            <span>Blog Title</span>
                                    </div>
                                    <hr>                                
                                    <p>Blog Content</p>
                            </div>
                            <div class="carousel-item" style="min-height:305px;width:610px;">
                                    <div class="member-mini-list-element"> 
                                            <img data-src="{{ allAvatarURL['members-180615/'+member+'/avatar.png'] }}" class="rounded-circle member-mini-list-element-img mr-2" alt="Generic responsive image">
                                            <span>{{ member }}</span>
                                            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                                            <span>Blog Title</span>
                                    </div>
                                    <hr>                                
                                    <p>Blog Content</p>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>-->
            {% raw content %}
        </div>
        </div>
    </div>
</main>
{% end %}
{% block customJS %}
<script>
document
$(".carousel-inner").firstChild.addClass(".active");
</script>
{% end %}
