{% extends "../main/main_base.html" %} {% block main %} {% import uuid %}
<main>
    <div>
        <img src="{{ static_url('images/blog-background.jpg') }}" class="blog-background" alt="">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="{{ static_url(avatarURL) }}" class="img-thumbnail blog-avatar" alt="">
                <h3 class="blog-name">{{ userName }}</h3>
            </div>
            <div class="col-9">
                <div class="blog-list">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="/blog/{{ userName }}" class="btn {% if request.path.split('/')[1] == 'blog' %}btn-primary{% else %}btn-outline-primary{% end %} btn-lg">Blog</a>
                        <a href="/profile/{{ userName }}" class="btn {% if request.path.split('/')[1] == 'profile' %}btn-primary{% else %}btn-outline-primary{% end %} btn-lg">Profile</a>
                    </div>
                    <hr> 
                    {% block content %} {% end %}
                </div>
            </div>
        </div>
    </div>
</main>
{% end %} {% block customJS %}
<script src="{{ static_url('scripts/blog.js') }}"></script> {% end %}