{% extends "../main/main_base.html" %} {% block main %}
{% import time %}
<main>
    <div class="container">
        <div class="row">
        <div class="col-xl-12">
            <div class="jumbotron">
                    <h1 class="display-4">CHEC Internal Dashboard</h1>
                    <p class="lead">Internal resource, document and research material.</p>
                    <hr class="my-4">
                    <p></p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Go to Cloud</a>
            </div>
        </div>
        <div class="col-xl-4">
            <h3>Blog List</h3>
            <hr>
        </div>
        <div class="col-xl-8">
            <h3>Resource</h3>
            <hr>
        </div>
        </div>
    </div>
</main>
{% end %}