{% extends "main.html" %} {% block content %} {% import uuid %} {% from datetime import datetime %}

<h2 class="mt-2 mb-3"><b>Leaderboard</b></h2>

<div class="mt-5">
    <button class="btn topboard text-primary py-3" style="display: none;">Show the top</button>
    {% for idx,lboard in enumerate(leaderboard)%}
    <div class="row border-top border-bottom pt-2 pb-2 {% if lboard[1].user_id == user.user_id%}bg-blue-transparent{% end %} {% if idx < (userrank-3)%}leaderboardtop{%end%} {% if idx > (userrank+3)%} leaderboardbottom {% end %}" style="{% if idx < (userrank-3) or idx > (userrank+3) %}display: none{% end %}">
        <p class="col-md-1 flex-5">{{idx+1}}</p>
        <div class="col-md-6 align-self-center">
            <a href="/newblog/{{lboard[1].username}}" class="text-decoration-none leaderboard-name">
            <img class="rounded-circle photo-leaderboard mr-4" src="{{lboard[2]}}" alt="Profile photo of {{lboard[1].username}}" />
            <span class="mb-0"> {{lboard[1].username}}</span>
            </a>
        </div>
        <div class="col-md-5 align-self-center">
           Level {{lboard[0]}} - <b>{{lboard[1].exp}}</b> exp
        </div>
    </div>
    {% end %}
    <button class="btn bottomboard text-primary pt-3" style="display: none;">Show the bottom</button>
</div>

<!-- Back to top button -->
<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top shadow-sm" role="button"><i class="fas fa-chevron-up"></i></a>

{% end %}