{% extends "main.html" %} {% block content %} {% import uuid %} {% from datetime import datetime %} {% from datetime import timedelta%} 

<!--Top title with date and prev and next week-->
<div class="d-flex flex-row justify-content-center align-content-center">
    <span class="p-2 mt-1 d-flex align-items-center blog-title"><a href="/newblog/{{userName}}?date={{dateprev}}" class="text-decoration-none text-dark blog-prev"><small>Previous week</small> <i class="px-3 fa fa-chevron-left"></i> </a></span>
    <span class="p-2">
        <h4 class="blog-title d-flex align-items-center mb-0">
            <span id="title-date-week">{{daterange}}</span>
    </h4>
    </span>
    <span class="p-2 mt-1 d-flex align-items-center blog-title"><a href="/newblog/{{userName}}?date={{datenext}}" class="text-decoration-none text-dark blog-next"> <i class="fa fa-chevron-right px-3"></i> <small>Next week</small></a></span>
</div>

<!--Reflection section-->
{% if reflection_exists == 1 %}
<section class="home-reflection-section mb-3 shadow-sm py-1 px-3">
    <div class="d-flex pt-2 justify-content-center text-yellow">
        {% for i in range(reflection_content.reflection_rate) %}
        <i class="fas fa-star mx-1"></i>{% end %}
    </div>
    <div class="mb-3">
        <b>This Week Reflection</b>
        <p class="reflection-text">{{ reflection_content.reflection_text }}</p>
    </div>
</section>
{% end %}

<!--MEETING LINK!-->
<a href="" class="float-right"><i class="fa fa-tv text-blue"></i><u>Meeting Link</u></a>

{% if visitor == 0%}
<div class="d-flex flex-row">
    <!--Button trigger modal for new activity-->
    <button type="button" class="mt-2 btn btn-primary btn-sm" data-toggle="modal" data-target="#newactivitymodal">NEW ACTIVITY</button> {% if reflection_exists == 0 %}
    <!--Button trigger modal for new reflection-->
    <button type="button" class="ml-3 mt-2 btn btn-primary btn-sm" data-toggle="modal" data-target="#newreflectionmodal">ADD REFLECTION</button> {% end %}
</div>
{% end %}

<!--Reporting and Planning Section-->
<section class="reporting-planning my-5">
    <div class="reporting pb-3">
        <h4>What did I do last week?</h4>
        {% for idx,eachactivity in enumerate(allactivity[0])%}
        <div class="project-section mb-3">
            <h6 class="project-name mt-3 {% if eachactivity[0].project_name=='Admin' %}text-project-admin{%else%}text-project-{{eachactivity[0].project_id % 10}}{%end%}">{{eachactivity[0].project_name}}</h6>
            <div class="d-flex flex-column">
                <table class="table report-table">
                    <tbody>
                        {% for activity in eachactivity[1]%}
                        <tr class="row editable-report">
                            <td class="col-5 ml-auto py-2" data-type="text" data-value = "{{activity.Activity.activity_name}}">{{activity.Activity.activity_name}}</td>
                            <td class="col-3 text-wrap py-2" data-type="datepicker" data-value="{{activity.WeeklyReport.date_range_start.strftime('%B %d')}} - {{activity.WeeklyReport.date_range_end.strftime('%B %d')}}">{{activity.WeeklyReport.date_range_start.strftime("%B %d")}} - {{activity.WeeklyReport.date_range_end.strftime("%B %d")}}</td>
                            <td class="col-2 flex-10 priority py-2" data-type="select" data-value="{{activity.Activity.priority}}"><i class="fa fa-flag text-center pr-1 {% if activity.Activity.priority == 1%}text-red{% end %} {% if activity.Activity.priority == 2%}text-orange{% end %} {% if activity.Activity.priority == 3%}text-primary{% end %}"></i> P{{activity.Activity.priority}}
                            </td>
                            <td class="col-2 flex-12 text-center report-progress py-2 {% if activity.Activity.progress_percentage == 0%}bg-gray{% end %} {% if activity.Activity.progress_percentage >= 80 and activity.Activity.progress_percentage <= 100%}bg-green text-white{%end%} {% if activity.Activity.progress_percentage > 0 and activity.Activity.progress_percentage < 80%}bg-yellow{%end%}"
                                data-progress="{{activity.Activity.progress_percentage}}" data-type="number" data-value="{{activity.Activity.progress_percentage}}">
                                {%if activity.Activity.progress_percentage == 0%}Not started{% end %}{%if activity.Activity.progress_percentage == 100%}DONE{% end %}{%if activity.Activity.progress_percentage > 0 and activity.Activity.progress_percentage < 100%} {{activity.Activity.progress_percentage}}% {% end %} </td>
                            <td class="col-1 mr-auto text-muted py-2">
                                <form action="/newblog/deleteactivity" method="GET" class="formdeleteactivity-{{activity.Activity.activity_id}}">
                                    <input type="hidden" name="deleteactivityid" value="{{activity.Activity.activity_id}}">
                                    <button type="submit" class="btn py-0 deleteactivitybutton" data-id="{{activity.Activity.activity_id}}"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% end %}
                        <form action="/newblog/addactivity" method="POST">
                            <tr class="row">
                                <td class="col-5 ml-auto">
                                    <input type="text" name="newactivityname" class="form-control" placeholder="Add Activity..." aria-placeholder="Add Activity...">
                                </td>
                                <td class="col-3 text-wrap">
                                    <input type="text" name="newdaterange" placeholder="Date Range" class="form-control col-md-12 date-range-datepicker" data-week="1"/>
                                </td>
                                <td class="col-2 flex-10 priority">
                                    <select class="form-control" name="newpriority">
                                        <option value="0" disabled selected hidden>Priority</option>
                                        <option value="1"> P1</option>
                                        <option value="2"> P2</option>
                                        <option value="3"> P3</option>
                                    </select>
                                </td>
                                <td class="col-2 flex-12 text-center report-progress">
                                    <span class="input-percentage "><input type="number" name="newpercentage" min="0" max="100" placeholder="Enter ...%" aria-placeholder="Enter ...%"></span>
                                </td>
                                <td class="col-1 mr-auto">
                                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                                </td>
                                <input type="hidden" name="newprojectid" value="{{eachactivity[0].project_id}}">
                            </tr>
                        </form>
                        <!-- Add activity row -->
                        <tr class="addbutton">
                            <td class="py-1">
                                <button class="btn rounded-circle text-muted p-0">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% end %}

    </div>
    <div class="planning">
        <h4>What am I doing?</h4>
        {% for idx,eachactivity in enumerate(allactivity[1])%}
        <div class="project-section mb-3">
            <h6 class="project-name mt-3 {% if eachactivity[0].project_name=='Admin' %}text-project-admin{%else%}text-project-{{eachactivity[0].project_id % 10}}{%end%}">{{eachactivity[0].project_name}}</h6>
            <div class="d-flex flex-column">
                <table class="table report-table border-bottom">
                    <tbody>
                        {% for activity in eachactivity[1]%}
                        <tr class="row editable-report">
                            <td class="col-5 ml-auto py-2" data-type="text" data-value = "{{activity.Activity.activity_name}}">{{activity.Activity.activity_name}}</td>
                            <td class="col-3 text-wrap py-2" data-type="datepicker" data-value="{{activity.WeeklyReport.date_range_start.strftime('%B %d')}} - {{activity.WeeklyReport.date_range_end.strftime('%B %d')}}">{{activity.WeeklyReport.date_range_start.strftime("%B %d")}} - {{activity.WeeklyReport.date_range_end.strftime("%B %d")}}</td>
                            <td class="col-2 flex-10 priority py-2" data-type="select" data-value="{{activity.Activity.priority}}"><i class="fa fa-flag text-center pr-1 {% if activity.Activity.priority == 1%}text-red{% end %} {% if activity.Activity.priority == 2%}text-orange{% end %} {% if activity.Activity.priority == 3%}text-primary{% end %}"></i> P{{activity.Activity.priority}}
                            </td>
                            <td class="col-2 flex-12 text-center py-2 report-progress {% if activity.Activity.progress_percentage == 0%}bg-gray{% end %} {% if activity.Activity.progress_percentage >= 80 and activity.Activity.progress_percentage <= 100%}bg-green text-white{%end%} {% if activity.Activity.progress_percentage > 0 and activity.Activity.progress_percentage < 80%}bg-yellow{%end%}"
                                data-progress="{{activity.Activity.progress_percentage}}" data-type="number" data-value="{{activity.Activity.progress_percentage}}">
                                {%if activity.Activity.progress_percentage == 0%}Not started{% end %}{%if activity.Activity.progress_percentage == 100%}DONE{% end %}{%if activity.Activity.progress_percentage > 0 and activity.Activity.progress_percentage < 100%} {{activity.Activity.progress_percentage}}% {% end %} </td>
                            <td class="col-1 mr-auto text-muted py-2">
                                <form action="/newblog/deleteactivity" method="GET" class="formdeleteactivity-{{activity.Activity.activity_id}}">
                                    <input type="hidden" name="deleteactivityid" value="{{activity.Activity.activity_id}}">
                                    <button type="submit" class="btn py-0 deleteactivitybutton" data-id="{{activity.Activity.activity_id}}"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% end %}
                        <!-- Add activity row -->
                        <form action="/newblog/addactivity" method="POST">
                            <tr class="row">
                                <td class="col-5 ml-auto">
                                    <input type="text" name="newactivityname" class="form-control" placeholder="Add Activity..." aria-placeholder="Add Activity...">
                                </td>
                                <td class="col-3 text-wrap">
                                     <input type="text" name="newdaterange" placeholder="Date Range" class="form-control col-md-12 date-range-datepicker" data-week="2"/>
                                </td>
                                <td class="col-2 flex-10 priority">
                                    <select class="form-control" name="newpriority">
                                        <option value="0" disabled selected hidden>Priority</option>
                                        <option value="1"> P1</option>
                                        <option value="2"> P2</option>
                                        <option value="3"> P3</option>
                                    </select>
                                </td>
                                <td class="col-2 flex-12 text-center report-progress">
                                    <span class="input-percentage "><input type="number" name="newpercentage" min="0" max="100" placeholder="Enter ...%" aria-placeholder="Enter ...%"></span>
                                </td>
                                <td class="col-1 mr-auto">
                                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                                </td>
                                <input type="hidden" name="newprojectid" value="{{eachactivity[0].project_id}}">
                            </tr>
                        </form><!-- Add activity row -->
                        <tr class="addbutton">
                            <td class="py-1">
                                <button class="btn rounded-circle text-muted p-0">
                                    <i class="fa fa-plus-circle"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% end %}

    </div>
</section>











<!--Modal for Add Reflection-->
<div class="modal fade" id="newreflectionmodal" tabindex="-1" role="dialog" aria-labelledby="newreflectionlabelmodal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newreflectionlabelmodal">REFLECTION</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
            </div>
            <form action="/newblog/addreflection" method="POST">
                <div class="modal-body mx-2">
                    <small class="text-muted">This pop up will show up when you press "ADD REFLECTION" or when you access the blog on <span class="font-weight-bold">Friday</span> for the first time of the week.</small>
                    <div class="text-center">
                        <p class="text-dark mt-4"><b>Do you feel the activities you did last week contributed to your goals?</b></p>
                        <p class="text-dark d-inline align-super mr-2">Not contributed at all</p>
                        <div class="rating">
                            <input class="rating__input hidden--visually" type="radio" id="5-star" name="newreflectionrate" value="5" required>
                            <label class="rating__label mb-0" for="5-star" title="5 out of 5 rating"><span class="rating__icon"></span><span class="hidden--visually">5 out of 5 rating</span></label>

                            <input class="rating__input hidden--visually" type="radio" id="4-star" name="newreflectionrate" value="4">
                            <label class="rating__label mb-0" for="4-star" title="4 out of 5 rating"><span class="rating__icon"></span><span class="hidden--visually">4 out of 5 rating</span></label>

                            <input class="rating__input hidden--visually" type="radio" id="3-star" name="newreflectionrate" value="3">
                            <label class="rating__label mb-0" for="3-star" title="3 out of 5 rating"><span class="rating__icon"></span><span class="hidden--visually">3 out of 5 rating</span></label>

                            <input class="rating__input hidden--visually" type="radio" id="2-star" name="newreflectionrate" value="2">
                            <label class="rating__label mb-0" for="2-star" title="2 out of 5 rating"><span class="rating__icon"></span><span class="hidden--visually">2 out of 5 rating</span></label>

                            <input class="rating__input hidden--visually" type="radio" id="1-star" name="newreflectionrate" value="1">
                            <label class="rating__label mb-0" for="1-star" title="1 out of 5 rating"> <span class="rating__icon"></span> <span class="hidden--visually">1 out of 5 rating</span></label>
                        </div>
                        <p class="text-dark d-inline align-super ml-2">Extremely Contributed</p>
                    </div>
                    <div class="form-group mt-5">
                        <label for="textarea1"><b>Why or why not?</b></label>
                        <textarea class="form-control" id="textarea1" name="newreflectiontext" rows="4" required placeholder="Write the reason..."></textarea>
                    </div>
                    <div class="mt-3 mb-2"><small>You cannot edit your reflection after submit</small></div>
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </div>
                <!-- <div class="modal-footer align-left">
                </div> -->
            </form>
        </div>
    </div>
</div>


<!--Modal for Add Project-->
<!-- <div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="addProjectModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProjectModal">Add Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form action="/newblog/">
                    <label for="project-name">Project Name</label>
                    <input type="text" id="project-name" class="form-control" placeholder="Project Name..." />
                    <label class="mt-3" for="select-project-member">Members</label>
                    <div class="w-100">
                        <select class="w-100 js-states form-control" id="select-project-member" multiple="multiple"></select>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary">+ADD PROJECT</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-gray" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div> -->

<!--Modal for New Activity-->
<div class="modal fade" id="newactivitymodal" tabindex="-1" role="dialog" aria-labelledby="newactivitymodallabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">New Activity</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="/newblog/addactivity" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="activity-name">Activity</label>
                            <div class="input-group col-md-12 ">
                                <input type="text" class="form-control"  name="newactivityname" id="activity-name" placeholder="Enter Activity..." aria-placeholder="Enter Activity...">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="newactivity-project-name">Project</label>
                            <div class="input-group col-md-12">
                                <select class="form-control select2-project-name" name="newprojectid" id="newactivity-project-name">
                                    <option></option>
                                    {% for project in projectlist%}
                                    <option value={{project.project_id}}>{{project.project_name}}</option>
                                    {% end %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="date-range">Date Range</label>
                            <div class="input-group col-md-12" id="date-range">
                                <input type="text" placeholder="Choose Date Range" class="form-control col-md-12 modal-date-range-datepicker" name="newdaterange" />
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="priority-level">Priority</label>
                            <div class="input-group col-md-12">
                                <select class="form-control" id="priority-level" name="newpriority">
                                    <option value=" " disabled selected hidden>Choose Priority</option>
                                    <option value='1'> P1</option>
                                    <option> P2</option>
                                    <option> P3</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label for="percentage ">Percentage</label>
                            <div class="input-group col-md-12">
                                <span class="input-percentage "><input type="number" name="newpercentage" min="0" max="100" placeholder="Enter ...%" aria-placeholder="Enter ...%"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-gray" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>

{% end %}