// Component

//@import 'compass/reset';
@import 'compass/css3';
@import 'component/settings';
@import 'component/body';
@import 'component/home';
@import 'component/blog';
@import 'component/experiment';
@import 'component/header';
@import 'component/main';
@import 'component/footer';