/**
 * Header Sass
 */

.blog-background {
    margin-top: -16px;
    width:100%;
    box-shadow:8px 8px 8px 8px #999 inset;  
}

.blog-avatar {
    margin-top: -50px;
}

.blog-list {
    padding-top: 50px;
}

.member-mini-list {
    .member-mini-list-element {
        .member-mini-list-element-img {
            width: 50px;
        }
    }
}