/**
 * Header Sass
 */

main {
    
    .main-margin {
        margin-top: 2rem;   
        margin-bottom: 2rem;
    }   

    .card {
        .card-bulletin-add {
            color: $grey-subtitle;
        }

    }

}


