/**
 * Settings
 * Colors & Fontsize
 */

/**
 * Colors
 */
 
// Dominant
$orange-dominant:		#ec6941;

// Greys
$grey-subtitle:			#bdbdbd;

// Blacks
$black-text:			#2a2a2a;
$black-footer:			#2a2a2a;

// Whites
$white-text:			#ffffff;

/**
 * Fontsize
 */
		
$fontSize-heavy:			2.250rem;	//36px
$fontSize-bold:				1.875rem;	//30px
$fontSize-large:			1.500rem;	//24px
$fontSize-medium:			1.250rem;	//20px
$fontSize-regular:			1.000rem;	//16px
$fontSize-normal:			0.875rem;	//14px
$fontSize-light:			0.750rem;	//12px
$fontSize-extralight:       0.625rem;   //10px

/**
 * Images
 */
 
$img-brand:					60px;
$img-banner:				336px;				
$img-member-avatar:			120px;

/**
 * Font-Family
 */
 
$font-family-best:          "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
; 

